

#timeslot_box::-webkit-scrollbar {
  width: 14px;
}

#timeslot_box::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#timeslot_box::-webkit-scrollbar-thumb {
  background-color: #16151321;
  border-radius: 100px;
}
